<!DOCTYPE html>
<html>
{% load static %}

<script type="text/javascript" src="{% static "jquery-2.1.3.min.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "bootstrap-3.3.4-dist/css/bootstrap.min.css" %}">
<script type="text/javascript" src="{% static "bootstrap-3.3.4-dist/js/bootstrap.min.js" %}"></script>
<script type="text/javascript" src="{% static "jquery-2.1.3.min.js" %}"></script>


<body style="width:100%;height:100%;backgroud-color:#DCDCDCS">
{% block content %}
<div style="background-color:#BFFF1B;border: 3px solid #6A7F34;">
<center>
<center>
<img src="{% static "sm_logo.png" %}">
</center>
</div>
	<h1></h1><CENTER><U><FONT SIZE="10">{{prof.name}}</FONT></U></CENTER></h1>
	<BR>
<form method="POST" action="">{% csrf_token %}
<CENTER>
{% for s in proj %}
	<label>{{s.title}}</label>
	<br>
	<label>Co-PI:</label>
	<input type="text" name="{{s.pk}}" placeholder="Enter Employee No." pattern="^[a-z]{2}[0-9]{3}$">
	<br>
	<br>
{% endfor %}
</CENTER>
<center>
	<input name="submit" type="submit" value="submit" class="btn btn-primary">

	</center>
</form>
{% endblock %}

</body>
</html>
