<!DOCTYPE html>
<html>
<body bgcolor="#6495ED">
<div style="background-color:#DA70D6">
<center>
<img src="/static/sm_logo.png">
</center>
</div>
<font size="4" COLOR="GREEN" margin-right="10PX"><a href="http://127.0.0.1:8000/sriru/admin">CLICK HERE TO GO BACK TO THE ADMIN PAGE</a></font>  
<div style="background-color:#8FBC8F">
{% block content %}
<form action="/sriru/deptadd" method="POST">{% csrf_token %}
<CENTER>
<ul >
<div style="color:#663399">
<table>
{% for field in form %}
        {{ field.errors }}
        
        <tr>
        <td>{{ field.label_tag }}</td> 
        <td>{{ field }}</td>
        </tr?
        
        <br>
{% endfor %}
</table>
</div>
</ul>
</CENTER>
<center>
<input type="submit" name="submit" value="ADD">
</center>
{% endblock %}

</body>
</html>
