<!Doctype HTML>
<html>
<head>
<style>
body{

	font-family: "Times New Roman";
    font-size: 20px;
}
</style>
</head>
<body style="background:#DCDCDC">

	<h1> INSTRUCTION MANUAL </h1>

	<h2> For Students </h2>
	<ul>
		<li> Sudents can see the  ongoing projects going  in the college under various departments. They can select their choice of project and can than contact that professor by mailing him . </li>
		<li> They can select their choice of project and can than contact that professor by mailing him .</li>
		<li> Students can login on their own page from  the login page with the id and password provided to them after registration under some project.</li>
		<li>  They can track the status of their project  from their page .</li>


	</ul>
	

	<h2> For Professors </h2>
	
	<ul>
		<li> Professors can login on their home page by using their  valid employee number and password .</li>
		<li> Professors can request for starting of a new project .</li>
		<li> Professors can also request for any new  purchase  he wants .</li>
		<li> Professors can also add new fellows under any  project.</li>
		<li> Professor can also add any Co-Pi for any project under him. </li>
		<li> Professor can see the details of the approved  and the unapproved projects.</li>
		<li> Professor can also see the details of the rejected,approved,unapproved and completed purchases.</li>
		<li> Professor can also change their account password .</li>
		<li> Professors can also see messages sent to him from different students. </li>
	</ul>

	<h2> FOR SPONSORS </h2>
	<ul>
		<li> Sponsors can login on their page using their id and password from the login page.	</li>
		<li> On thir page sponsors can check the status of the projects that they have sponsored .</li>
		<li> Sponsors can also see the details of other unapproved projects in the institute and Sponsor the project which they like.</li>
		<li> Sponsors can also change their account password.</li> 

	</ul>

	<h2> FOR VENDORS </h2>
	<ul>
		<li> Vendors can  manually apply to the admin on seeing a relase of Tendor. He has to then wait for the approval from the admin.</li>
	</ul>
 <h2> FOR ADMIN :</h2>
 <ul> 
 	<li> Admin can  login to his account using the superuser link(given on the Homepage).</li>
 	<li> On his page Admin can see the list of approved and unapproved projects.</li>
 	<li> Admin can see the list of Approved and sanctioned purchases.</li>
 	<li> Admin can generate the Debit Advice Sheet.</li>
 	<li> Admin can add new PROFESSOR,STUDENT,DEPARTMENT,SPONSOR and VENDORS.</li>
 	<li> Admin can also read the messgaes sent to him from  different vendors.</li>
 	<li> Admin can also change his account password.</li>

 </ul>

 <h2>  FOR SRIRU APPROVER </h2>
 <ul>
 	<li> SRIRU Approver can login to his page from the superuser link (given on the HOMEPAGE).</li>
 	<li> On his page ,SRIRU Approver can approve the unapproved projects and  purchases.</li>
 	<li> SRIRU Approver can also change his account password.</li>

 </ul>


</body>
</html> 